# Importing Libraries
import pandas as pd
import numpy as np
import os

In [ ]:
# We have 3 different dataset which we cleaned. Now we are going to merge them into one dataset so we can start
# generating some insights from it.

# Importing data files
products_clean = pd.read_csv(r'C:\Users\Pakshil Jani\Desktop\career foundry\Chapter-4 Python\Instacart project analysis\Data\Prepared Data\products_all_clean.csv',index_col=False)

dept_clean = pd.read_csv(r'C:\Users\Pakshil Jani\Desktop\career foundry\Chapter-4 Python\Instacart project analysis\Data\Prepared Data\dept_cleaned.csv',index_col=False)

In [18]:
products_clean.loc[0:2, :]

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5

In [19]:
dept_clean.loc[0:2, :]

   department_id department
0              1     frozen
1              2      other
2              3     bakery

In [ ]:
# Using department_id as common column, we are merging these two datasets

In [20]:
prod_dept_merge = products_clean.merge(dept_clean,on='department_id',indicator=True)

In [21]:
prod_dept_merge.head(2)

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,department,_merge
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,both
1,15,16,Mint Chocolate Flavored Syrup,103,19,5.2,snacks,both

In [ ]:
# Checking if all fields from both datasets are merged

In [22]:
prod_dept_merge._merge.value_counts()

both          49670
left_only         0
right_only        0
Name: _merge, dtype: int64

In [23]:
prod_dept_merge.shape

(49670, 8)

In [ ]:
# Merged dataset has same no of rows as products_clean, so we are good to proceed to next step.

In [ ]:
# Importing orders_clean dataset

In [24]:
orders_clean =  pd.read_csv(r'C:\Users\Pakshil Jani\Desktop\career foundry\Chapter-4 Python\Instacart project analysis\Data\Prepared Data\orders_clean.csv',index_col=False)

In [33]:
orders_clean.head(1)

,Unnamed: 0,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN

In [32]:
prod_dept_merge.head(1)

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,department,_merge
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,both

In [ ]:
# We have unwanted column 'Unnamed' which we will get rid of when we export this dataframe.
#For now, we don't see any other common column in these two dataframes to merge their data
# We have asked if there is any other data that can be provided to us which can help merge these two datasets

In [38]:
# We have been provided with a new dataset orders_products_prior which has common column 
# Importing new dataset
orders_products_prior = pd.read_csv(r'C:\Users\Pakshil Jani\Desktop\career foundry\Chapter-4 Python\Instacart project analysis\Data\Original Data\orders_products_prior.csv',index_col=False)

In [39]:
orders_products_prior.shape

(32434489, 4)

In [41]:
orders_products_prior.head(3)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0

# Performing consistency check

In [52]:
orders_products_prior.describe()

           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00

# Checking data type

In [53]:
orders_products_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

# Checking for missing values

In [54]:
orders_products_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

# Checking for duplicates

In [56]:
orders_products_prior[orders_products_prior.duplicated()]

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

In [ ]:
# Since all checks are done, now we are going to export this dataset so it can be accessed in future if needed

In [58]:
orders_products_prior.to_csv(r'C:\Users\Pakshil Jani\Desktop\career foundry\Chapter-4 Python\Instacart project analysis\Data\Prepared Data\orders_products_prior_clean.csv')

In [ ]:
# Let us merge two datasets now using product_id as common column

In [57]:
orders_products_prior.head(3)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0

In [97]:
prod_dept_merge.head(3)

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,department,merge_indicator
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,both
1,15,16,Mint Chocolate Flavored Syrup,103,19,5.2,snacks,both
2,24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9,snacks,both

In [94]:
orders_products_prior.shape

(32434489, 4)

In [83]:
prod_dept_merge.shape

(49670, 8)

In [ ]:
# There is a common column product_id, using which we can merge it together and then use order_id column to merge with
# orders_clean and that would be one complete dataset ready for analysis

In [81]:
orders_products_departments_merged=prod_dept_merge.merge(orders_products_prior,on='product_id',indicator=True)

In [82]:
orders_products_departments_merged.shape

(32399732, 12)

In [99]:
orders_products_departments_merged.head()

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,product_id,prices,department
0,1107,1,7,0,Chocolate Sandwich Cookies,61,1,5.8,snacks
1,5319,1,3,1,Chocolate Sandwich Cookies,61,1,5.8,snacks
2,7540,1,4,1,Chocolate Sandwich Cookies,61,1,5.8,snacks
3,9228,1,2,0,Chocolate Sandwich Cookies,61,1,5.8,snacks
4,9273,1,30,0,Chocolate Sandwich Cookies,61,1,5.8,snacks

In [ ]:
# Since the dataset is now become very large, we will export it with only those columns necessary for analysis

In [86]:
orders_products_departments_merged=orders_products_departments_merged.filter(['order_id','product_id','add_to_cart_order','reordered','product_name','aisle_id','product_id','prices','department'])

In [88]:
orders_products_departments_merged.to_pickle(r'C:\Users\Pakshil Jani\Desktop\career foundry\Chapter-4 Python\Instacart project analysis\Data\Prepared Data\orders_products_depts_merged.pkl')

In [93]:
orders_products_departments_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32399732 entries, 0 to 32399731
Data columns (total 9 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
 4   product_name       object
 5   aisle_id           int64
 6   product_id         int64
 7   prices             float64
 8   department         object
dtypes: float64(1), int64(6), object(2)
memory usage: 2.4+ GB

In [101]:
orders_products_prior.product_id.value_counts()

24852    472565
13176    379450
21137    264683
21903    241921
47209    213584
          ...
37660         1
42235         1
31333         1
3117          1
10806         1
Name: product_id, Length: 49677, dtype: int64

In [ ]:
orders_products_departments_merged.