# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

# Importing Data file

In [2]:
orders = pd.read_csv(r'C:\Users\Pakshil Jani\Desktop\career foundry\Chapter-4 Python\Instacart project analysis\Data\Original Data\orders.csv')

# Getting information about the data

In [3]:
orders.shape

(3421083, 7)

In [4]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

# Getting frequency for columns to find out missing values 
#Checked all columns and found missing values in days_since_prior_order column

In [5]:
orders.days_since_prior_order.value_counts(dropna=False).sort_index()

0.0      67755
1.0     145247
2.0     193206
3.0     217005
4.0     221696
5.0     214503
6.0     240013
7.0     320608
8.0     181717
9.0     118188
10.0     95186
11.0     80970
12.0     76146
13.0     83214
14.0    100230
15.0     66579
16.0     46941
17.0     39245
18.0     35881
19.0     34384
20.0     38527
21.0     45470
22.0     32012
23.0     23885
24.0     20712
25.0     19234
26.0     19016
27.0     22013
28.0     26777
29.0     19191
30.0    369323
NaN     206209
Name: days_since_prior_order, dtype: int64

In [ ]:
# Found missing values in days_since_prior_order column. Since this column represents data for no. of days since
# customer's last order, missing value may mean that these customers have put their first order only and hence
# there is no past data to refer to. We are keeping these rows for now.

# Performing consistency checks on columns

In [6]:
orders.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [ ]:
# All columns have same no of records 3421083 except days_since_prior_order which has some Nan values and we know that why
# order_dow column has min 0 and max 6 values which is as expected
# order_hour_of_day column has min 0 and max 23 values which is as expected

# Checking data types of columns

In [7]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB

# Checking for any mixed data type in any columns

In [9]:
for col in orders.columns.tolist():
  weird = (orders[[col]].applymap(type) != orders[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (orders[weird]) > 0:
    print (col)

In [ ]:
# No column with mixed data so no change is needed

In [ ]:
# No column other than days_since_prior_order has null values. So we are good to proceed to next step

In [11]:
orders.isnull().sum()

order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

# Checking for duplicated records

In [54]:
orders[orders.duplicated()]

Empty DataFrame
Columns: [order_id, user_id, eval_set, order_number, order_dow, order_hour_of_day, days_since_prior_order]
Index: []

In [ ]:
# No duplicates found

In [ ]:
# Since eval_set column is not required for analysis, let us remove that before exporting the clean
# dataframe to folders

In [60]:
var_list = ['order_id','user_id','order_number','order_dow','order_hour_of_day','days_since_prior_order']

In [61]:
orders_clean = orders[var_list]

In [62]:
orders_clean.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

# Exporting dataframe to folder as .csv file

In [65]:
orders_clean.to_csv(r'C:\Users\Pakshil Jani\Desktop\career foundry\Chapter-4 Python\Instacart project analysis\Data\Prepared Data\orders_clean.csv')

In [66]:
orders_clean.shape

(3421083, 6)